<div class=author-info>
    <a href="/"><img src="{{ site.author_image_path }}" class=author-image /></a>
    <h1 class=author-name><a href="/">{{ site.author_name }}</a></h1>
    <div class=nav>
        <a href="{{ site.github_url }}"><i class=icon-github-alt></i></a>
    </div>
    <p class=author-bio>{{ site.author_bio }}</p>
    <div class=home-nav>
        <ul>
            <li><a href="/">技术</a></li>
            <li><a href="/about">关于</a></li>
            <li><a target="_blank" href="http://java.im/">后院</a></li>
        </ul>
    </div>
</div>
